<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.monkeycoding.xyz.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.monkeycoding.xyz.entity.Article">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="article_tags" property="articleTags" jdbcType="VARCHAR"/>
        <result column="group_id" property="groupId" jdbcType="INTEGER"/>
        <result column="created" property="created" jdbcType="BIGINT"/>
        <result column="modifyed" property="modifyed" jdbcType="BIGINT"/>
    </resultMap>

    <resultMap id="ResultMapWithBLOBs" type="com.monkeycoding.xyz.entity.Article" extends="BaseResultMap">
        <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, article_tags, group_id, created, modifyed
    </sql>
    <sql id="Blob_Column_List">
        article_content
    </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from article
        where id = #{id,jdbcType=INTEGER}
    </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from article
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.monkeycoding.xyz.entity.Article">
        insert into article (id, article_tags, group_id,
        created, modifyed, article_content
        )
        values (#{id,jdbcType=INTEGER}, #{articleTags,jdbcType=VARCHAR}, #{groupId,jdbcType=INTEGER},
        #{created,jdbcType=BIGINT}, #{modifyed,jdbcType=BIGINT}, #{articleContent,jdbcType=LONGVARCHAR}
        )
    </insert>

    <insert id="insertSelective" parameterType="com.monkeycoding.xyz.entity.Article">
        insert into article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="articleTags != null">
                article_tags,
            </if>
            <if test="groupId != null">
                group_id,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modifyed != null">
                modifyed,
            </if>
            <if test="articleContent != null">
                article_content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="articleTags != null">
                #{articleTags,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                #{groupId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=BIGINT},
            </if>
            <if test="modifyed != null">
                #{modifyed,jdbcType=BIGINT},
            </if>
            <if test="articleContent != null">
                #{articleContent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.monkeycoding.xyz.entity.Article">
        <!--
          WARNING - @mbggenerated
          This element is automatically generated by MyBatis Generator, do not modify.
          This element was generated on Sat Jan 23 13:00:32 CST 2016.
        -->
        update article
        <set>
            <if test="articleTags != null">
                article_tags = #{articleTags,jdbcType=VARCHAR},
            </if>
            <if test="groupId != null">
                group_id = #{groupId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=BIGINT},
            </if>
            <if test="modifyed != null">
                modifyed = #{modifyed,jdbcType=BIGINT},
            </if>
            <if test="articleContent != null">
                article_content = #{articleContent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.monkeycoding.xyz.entity.Article">
        update article
        set article_tags = #{articleTags,jdbcType=VARCHAR},
        group_id = #{groupId,jdbcType=INTEGER},
        created = #{created,jdbcType=BIGINT},
        modifyed = #{modifyed,jdbcType=BIGINT},
        article_content = #{articleContent,jdbcType=LONGVARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.monkeycoding.xyz.entity.Article">
        update article
        set article_tags = #{articleTags,jdbcType=VARCHAR},
        group_id = #{groupId,jdbcType=INTEGER},
        created = #{created,jdbcType=BIGINT},
        modifyed = #{modifyed,jdbcType=BIGINT}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>